<div><dx-range-selector
  id="range-selector"
  [value]="[selectedStartValue, selectedEndValue]"
  title="Selected Period">
  <dxo-scale
    [startValue]="startValue"
    [endValue]="endValue"
    minorTickInterval="second"
    tickInterval="hour"
    minRange="second"
    maxRange="hour">
    <dxo-minor-tick [visible]="false"></dxo-minor-tick>
  </dxo-scale>
  <dxo-slider-marker format="m:s"></dxo-slider-marker>
</dx-range-selector>

<input id="remoraQuery" type="text" class="w3-input"
       #searchbox
       class="gocypher-dark-light"
       [(ngModel)]="query" name="query"
       #name="ngModel"
       placeholder="Type filter query query"
       [matAutocomplete]="auto"
       #trigger="matAutocompleteTrigger"
       (keydown.enter)="$event.target.blur();trigger.closePanel();onTriggerSearch();"
       (ngModelChange)="doFilter(query)"
>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of filteredOptions" [value]="option">
<span (click)="onRemoveQueryClick($event,option)">
<mat-icon svgIcon="delete" style="width:16px;height:16px;"></mat-icon>
</span>
    <span style="font-size:0.9rem">{{option}}</span>
  </mat-option>
</mat-autocomplete>
<button (click)="submit()">Click</button>

<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="stopPropagation($event)">
    <mat-icon>cloud</mat-icon>
    <span><input id="token" type="text" [(ngModel)]="token" name="token" #name="ngModel"></span>
  </button>
  <button mat-menu-item (click)="stopPropagation($event)">
    <mat-icon>link</mat-icon>
    <span><input id="remoraUrl" type="text" [(ngModel)]="remoraUrl" name="remoraUrl" #name="ngModel"></span>
  </button>
</mat-menu>


<br>
<input id="remoraMark" type="text" [(ngModel)]="mark" name="mark"
       #name="ngModel">
<button (click)="markIt()">Mark</button>
<button (click)="clearIt()">Clear</button>
<ng-template #tippie></ng-template>
</div>




<div id="cy"></div>
