
#cy {
  width: 100%;
  height: calc(100% - 230px);
  position: absolute;
  top: 230px;
  left: 0px;
}

#remoraQuery {
  width: 90%;
  border-color: black;
  border-width: thin;
}

#remoraMark {
  width: 90%;
  border-color: black;
  border-width: thin;
}

::ng-deep #range-selector {
  height: 170px;
}
