<div class="remora-tipie">
  <h4>{{data.clazz}}</h4>

  <p>{{data.method}}</p>

  <p *ngIf="additionalData != undefined && additionalData.rows != undefined && additionalData.rows.length>0">Average
    time: {{additionalData.rows[0]['Avg(ElapsedTime)']}}μs</p>
  <p *ngIf="additionalData != undefined && additionalData.rows != undefined && additionalData.rows.length>0">
    Time: {{additionalData.rows[0]['Min(StartTime)'] / 1000 | date:"medium" }}</p>
  <p *ngIf="additionalData != undefined && additionalData.rows != undefined && additionalData.rows.length>0">Time
    end: {{additionalData.rows[0]['Max(StartTime)'] / 1000 | date:"medium" }}</p>
  <button *ngIf="properties===undefined" (click)="getProperties()">More..</button>
  <div *ngIf="properties!==undefined">
    <div *ngFor="let property of properties | keyvalue">
      <strong><span>{{property.key}}:</span></strong> <span> {{property.value}}</span><br>
    </div>

  </div>


</div>
